extends layout

block content
  section#top250app
    header
      h1.title Top 250 Movies
      section
        ul.topbar
          li
            span#watched-count Watched:
              span.stat 0
          li
            a(href="#all").filter All
          li
            a(href="#unwatched").filter Unwatched
          li
            a(href="#watched").filter Watched
          li
            a(href="javascript:void(0)").random Random
    input.search(placeholder="Search")
    ul#movies