doctype html
html
  head
    title= Movies
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script#movie-template(type='text/template')
        <input class="toggle complete" type="checkbox" <%- completed ? 'checked="checked"' : '' %> ></input>
        <a class="movie-title" href="#"><%- title %></a>
        <article class="desc hide">
        <%- desc %>
        </article>
    script(src='/js/components/jquery/jquery.js')
    script(src='/js/components/underscore/underscore.js')
    script(src='/js/components/backbone/backbone.js')
    script(src='/js/app.js')
