* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1.4em;
    color: #4d4d4d;
    width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#top250app {
    margin: 60px 0 40px 0;
    border: 1px solid #ccc;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

header {
    border-bottom: 1px solid #CCC;
    padding: 15px;
    background: #824685;
    color: white;
}

.title {
    text-align: center;
    margin-top: 0;
}

.stat {
    margin-left: 5px;
}


.topbar {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topbar li {
    display: inline;
}

.topbar li:first-child {
    margin-right: 70px;
    float: left;
}

.topbar li:last-child {
    float: right;
}


.topbar li a {
    text-decoration: none;
    color: inherit;
    margin: 5px;
}


.filters .active{
    font-weight: bold;
    color: #54A1C5;
}

.search {
    border: none;
    width: 100%;
    padding: 0 55px;
    height: 1.3em;
    margin: 5px 0;
    font-size: 36px;
    color: inherit;
    border-bottom: 1px solid #E4E4E4;
}

#movies {
    padding: 0 15px;
    margin: 0;
}

#movies li {
    list-style: none;
}

.desc {
    white-space: normal;
    display: block;
    margin: 0px -15px;
    padding: 5px 15px;
    background-color: #F5F5F5;
    border-top: 1px solid #DDD;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .05);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, .05);
}

.movie-title {
    text-decoration: none;
    color: inherit;
    padding: 1em 0;
    width: 85%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.toggle {
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.upvote {
    float: right;
}

.complete {
    margin-right: 20px;
    vertical-align: top;
}

.toggle:before {
    content: '✔';
    line-height: 43px; /* 40 + a couple of pixels visual adjustment */
    font-size: 20px;
    color: #d9d9d9;
    text-shadow: 0 -1px 0 #bfbfbf;
}

.upvote:before {
    content: '△';
}

.upvote:checked:before {
    content: '▲';
}

.toggle:checked:before {
    color: #6CAD69;
}

.hide {
    display: none;
}